<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p id="info">Use this site to get your weather!</p>
        
        <form action="" id="weather-form">
            <input type="text" placeholder="Location" id="weather-search">
            <button>Search</button>
        </form>
        <p id="success-data"></p>
        <p id="fail-data"></p>
    </div>


    {{>footer}}

    <script src="js/app.js"></script>
</body>
</html>