.box1 {
    background-color:aquamarine;
    width:600px;
    height:400px;
}

.box2 {
    background-color:lightpink;
    width:400px;
    height:250px;
}

.box3 {
    background-color:brown;
    width:100px;
    height:300px;
}

.box4 {
    background-color:purple;
    width: 350px;
    height: 200px;
}
.highlight-text{
    color:dimgray;
    font-size:30px;
}