.navbutton {
    background: lawngreen;
    padding:11px 25px;
    width:100px;
    display: inline-block;
    position:relative;
}

/* This turns the drop down off when not used*/
.dropdown-box {
    display :none;
    position: absolute;
    /* to move it up: z-index:4; */
    margin-left:-25px;
    padding-top:20px;
}

/* This turns it back on */
.navbutton:hover .dropdown-box {
    display:block;
}

.dropdown-box .navbutton {
    background-color: cadetblue;
}

.dropdown-box .navbutton:hover {
    background-color: lightpink;
    transition-duration:500ms;
}